---
import './style.scss';


---
<div class="screen screen--first">
    <div class="text text--center">
        <h1 class="text-title">Welcome</h1>
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="text text--minus">
        <h2 class="text-title">Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet</p>
    </div>
    <div class="text text--plus">
        <h2 class="text-title">Lorem ipsum</h2>
        <p>Consectetur adipiscing elit</p>
    </div>
</div>
<script src="./script.js"></script>