---
import './style.scss';


---
<div class="screen screen--second screen--dark">
    <canvas id="second" >Ваш браузер не поддерживает содержимое, ха-ха</canvas>
    <div class="text text--second">
        <h2 class="text-title">Lorem ipsum</h2>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
    </div>
</div>

<script src="./script.js"></script>