@import './global.scss';

.text {
    position: absolute;
    top: calc(50% + 20px);
    left: 50%;
    transform: translate(-50%, -50%);
    color: $cl-white;
    font-size: 32px;
    line-height: 36px;
    width: 80vw;
    
    transition: opacity .6s .2s ease-in, top .6s .2s ease-in;

    p {
        margin: 0;
    }

    &--minus {
        left: 20%;
        top: calc(35% + 20px);
        opacity: 0;

        .screen--left & {
            opacity: 1;
            top: 35%;
        }
    }

    &--plus {
        left: 80%;
        top: calc(40% + 20px);
        opacity: 0;

        .screen--right & {
            opacity: 1;
            top: 40%;
        }
    }

    &--center {
        opacity: 1;

        .center-hide & {
            // animation:  in 3s .2s reverse forwards ease;
            opacity: 0;
            animation: none;
            top: 50%;
        }
    }


    &--second {
        z-index: 2;
        opacity: 0;
        transition: opacity .6s 3s ease-in, top .6s 3s ease-in;

        .shown & {
            opacity: 1;
            top: 50%;
        }
    }


    @media (min-width: #{$desktop}) {
        width: 30vw;
        &--second {
            width: 50vw;
        }
    }
}

.text-title {
    font-size: 46px;
    line-height: 52px;
    margin: 0;
    font-family: $font-base-light;
    margin-left: -20px;
    margin-bottom: 10px;
}
