<!DOCTYPE html>
<html>
    <head>
        <title>Страница страниц</title>
        <meta charset="utf-8">
    </head>
    <body>
        <main>
            <ul>
                <li>
                    <a href="/about">about page</a>
                </li>
                <li>
                    <a href="/contacts">contacts page</a>
                </li>
                <li>
                    <a href="/Gui">Gui page</a>
                </li>
                <li>
                    <a href="/index">index page</a>
                </li>
                <li>
                    <a href="/some-page">some-page page</a>
                </li>
            </ul>
        </main>
    </body>
</html>